<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="book-page">

    <div class="book-page-cover">
        <img src="/cover/{{ .UUID }}" />
    </div>

    <div class="book-page-info">
        <h1>{{ .Title }}</h1>
        <div class="download-section">
            {{ range .Formats }}
            <a class="download-btn" href="/download/{{ $.UUID }}/{{ . }}">
                Download {{ . }}
            </a>
            {{ end }}
        </div>
        <div class="meta-row">
            <strong>Author:</strong>
            {{ range .Authors }}
            {{ . }}
            {{ end }}
        </div>

        <div class="meta-row">
            <strong>Publisher:</strong>
            {{ .Publisher }}
        </div>

        <div class="meta-row">
            <strong>Date:</strong>
            {{ .Date }}
        </div>

        <div class="meta-row">
            <strong>Language:</strong>
            {{ .Language }}
        </div>

        <div class="meta-row">
            <strong>Tags:</strong>
            {{ range .Tags }}
            <span class="tag">{{ . }}</span>
            {{ end }}
        </div>

        <div class="description">
            {{ .Description }}
        </div>
    </div>

</div>

</body>
</html>