<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header class="top-bar">
    <h1 class="title">{{ .Title }}</h1>

    <div id="pager">
        <button id="prev-page">Prev</button>
        <span id="page-label"></span>
        <button id="next-page">Next</button>
    </div>
</header>
<div id="book-modal" class="modal-overlay">
    <div class="modal-content">
        <button id="modal-close">✕</button>
        <div id="modal-body"></div>
    </div>
</div>
<div id="books"></div>
<div id="load-more" style="height: 1px;"></div>

<script src="/static/app.js"></script>

</body>
</html>